<div id="toolbar">
    <mat-toolbar color="primary" class="mat-elevation-z5">
        <mat-toolbar-row>
            <div id="logo">
                <mat-card class="mat-elevation-z5" routerLink="/main-page">Transport Logistic Supportive Software</mat-card>
            </div>
            <div id="buttons">
                <button mat-icon-button class="large">
                    <mat-icon>info</mat-icon>
                </button>
                <button mat-icon-button class="large">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div id="cards">
    <mat-card class="mat-elevation-z5">
        <mat-card-title>Lorries Management</mat-card-title>
        <mat-icon>local_shipping</mat-icon>

    </mat-card>
    <mat-card class="mat-elevation-z5">
        <mat-card-title>Drivers Management</mat-card-title>
        <mat-icon>account_circle</mat-icon>

    </mat-card>           
    <mat-card class="mat-elevation-z5" routerLink="/jobs-management">
        <mat-card-title>Jobs Management</mat-card-title>
        <mat-icon>list</mat-icon>

    </mat-card>
    <mat-card class="mat-elevation-z5">
        <mat-card-title>Map Preview</mat-card-title>
        <mat-icon>my_location</mat-icon>

    </mat-card>
</div>